{% comment %}

This template is a completely 100% generic HTML5 template.

{% endcomment %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        {% block head %}{% endblock %}
		{% bootstrap_stylesheet_tag %}
		<style type="text/css">
			body {
				padding-top: 60px;
			}
		</style>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		{% bootstrap_javascript_tag "dropdown" %}
		{% block head %}
			<title>Teach a Lesson Today | {% block title %}{% endblock %}</title>
		{% endblock %}

		</head>

		<body>

		{% load bootstrap_toolkit %}
		{% block nav %}
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Teach a Lesson Today</a>
					   <ul class="nav">
							<li><a href="{% url lessons.views.index %}" class="">Home</a></li>
							<li><a href="{% url lessons.views.lesson_add%}">Add</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<a href="{% url test_bootstrap.views.test_form %}?layout=vertical">Vertical</a>
									<a href="{% url test_bootstrap.views.test_form %}?layout=horizontal">Horizontal</a>
									<a href="{% url test_bootstrap.views.test_form_inline %}?layout=inline">Inline</a>
									<a href="{% url test_bootstrap.views.test_form_inline %}?layout=search">Search</a>
									<a href="{% url test_bootstrap.views.test_form_with_template %}?layout=horizontal">Using template</a>
								</ul>
							</li>
							<li><a href="{% url tabs %}">Tabs</a></li>
							<li><a href="{% url contact %}">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
			{% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
