{% extends "base.html" %}

{% block head %}
    <title>Teach a Lesson Today | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}

    <header>
        <h1>Teach a Lesson Today | Lessons</h1>
    </header>

{% if latest_lessons %}
	<ul>
	{% for lesson in latest_lessons %}
		<li><a href="/lessons/{{ lesson.id }}/">{{lesson.name}}</a> <a href="{{lesson.url}}">Resource</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No Lessons available</p>
{% endif %}

<p>
<a href="/lessons/promises">Other Promises</a> | 
<a href="/lessons">Lessons</a>
</p>

{% endblock %}
