{% extends "base.html" %}
{% comment %}

Make a teaching promise

{% endcomment %}

{% block title %}
Make a teaching promise
{% endblock %}

{% block body %}

    <section>
        {% if form.errors %}
            <p>Something wasn't quite right in your promise making</p>
        {% endif %}

        <form method="post" action=".">
        {% csrf_token %} 
            <p>
                {{ form.who.errors }}
                <label for="promise_who">Who I promise to teach:</label>
                {{ form.who }}
            </p>
            <p>
                {{ form.when.errors }}
                <label for="promise_when">When Am I going to teach this:<label>
                {{ form.when }}
            </p>
            <p>
                {{ form.lesson.errors }}
                <label for="promise_lesson">Which lesson will I teach:<label>
                {{ form.lesson }}
                <input type="hidden" name="made_by" value="{{ made_by }}" />
            <p>
                {{ form.assessment.errors }}
                <label for="promise_assessment">Which assessment to use:</label>
                {{ form.assessment }} 
                <br/>You can <a href="{% url lessons.views.add_assessment %}">add more assessments</a>.
            </p>
            <input type="submit" value="lesson" />
        </form>
    </section>
{% endblock %}
