{% extends "base.html" %}

{% block title %}
Promises
{% endblock %}

{% block body %}

<p>
<a href="{% url lessons.views.promise_add %}">Make a promise!</a>
</p>

{% if latest_promises %}
	<ul>
	{% for promise in latest_promises %}
		<li>Teach <a href='/lessons/{{ promise.lesson.id }}/'>{{ promise.lesson }}</a> to <strong>{{ promise.who }}</strong> on {{ promise.when|date:"m/d/Y" }}, <a href="{{ promise.id }}">Edit</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No Promises currently made </p>
{% endif %}

{% endblock %}
