{% extends "base.html" %}

{% block head %}
    <title>Teach a Lesson Today| {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}

    <header>
        <h1>Teach a Lesson Today | Promises | {{promise.id}} </h1>
    </header>

I taught <a href='/lessons/{{ promise.lesson.id }}/'>{{ promise.lesson }}</a> to <strong>{{ promise.who }}</strong> on {{ promise.when|date:"m/d/Y" }}

{% if error_message %}<p><strong>{{ error_message}}</strong></p>{% endif %}

<!-- protip: posting to itself is totally awesome -->
<form action="/lessons/promises/{{promise.id}}/keep/" method="post">

{% csrf_token %}

{{ form.done }}

<input type="submit" value="Update" />
</form>

<p>
<a href="/lessons/promises">Other Promises</a> | 
<a href="/lessons">Lessons</a>
</p>

{% endblock %}
