{% extends "base.html" %}
{% comment %}

Make a teaching promise

{% endcomment %}

{% block title %}
Make a teaching promise
{% endblock %}

{% block body %}
{% load bootstrap_toolkit %}

    <section>

        <h1 style="text-shadow: none; color: #32ff25; font-size: 56px; line-height: 70px">
        Hey computery person:
        </h1>

        <h1 style="font-size: 56px; line-height: 70px;">

        What if people understood what you do?
        </h1>
        <h3 style="color: #D5926A; font-size: 32px; line-height: 40px">
        Would it help them understand you better?  Teaching will make you a better programmer, a better coworker and a better friend.  Make the world better by promising to teach, today.
        </h3>
    </section>


    <p>&nbsp;</p>

    <section>
        {% if form.errors %}
            <p>Something wasn't quite right in your promise making...</p>
        {% endif %}

        <form method="post" action="/lessons/promises/add/" class="form-inline">
        {% csrf_token %} 
                {{ form.who.errors }}
                {{ form.when.errors }}
                {{ form.lesson.errors }}
                {{ form.assessment.errors }}

                <h3 style="color: #D5926A; font-size: 32px; line-height: 40px">
                I am going to teach 
                <input type="text" name="who" class="focused-input input-xlarge" id="id_who" placeholder="a good friend or family member">
                all about {{ form.lesson }} 
                before 
                <input type="text" name="when" id="id_when" placeholder="{% now "l, M d Y" %}"> 
                and after, I'll have them answer this question: 
                {{ form.assessment }} 
                <input type="hidden" name="made_by" value="{{ made_by }}" />
                </h3>

            <br/>
            <p>
            <input type="submit" value="Make a promise" class="btn btn-primary form-horizontal" />
            </p>
        </form>
    </section>
{% endblock %}
