{% extends "base.html" %}
{% comment %}

Make a teaching promise

{% endcomment %}

{% block title %}
Make a teaching promise
{% endblock %}

{% block body %}
{% load bootstrap_toolkit %}

<link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">
    <section>

        <h1 style="text-shadow: none; color: #92DF8D; font-size: 56px; line-height: 70px">
        Hey computery person:
        </h1>

        <h1 style="font-size: 56px; line-height: 70px;">

        What if everyone understood software?
        </h1>
        <h3 style="color: #D5926A; font-size: 32px; line-height: 40px">
        <p>
        They could, with your help.
        </p>
        <p>
Teaching will make you a better programmer, a better coworker and a better friend.  Make the world better by promising to teach, just for an hour, today.
        </p>
        </h3>
    </section>


    <p>&nbsp;</p>

    <section>
        {% if form.errors %}
            <p>Something wasn't quite right in your promise making...</p>
        {% endif %}

        <form method="post" action="/lessons/promises/add/" class="form-inline">
        {% csrf_token %} 
                {{ form.who.errors }}
                {{ form.when.errors }}
                {{ form.lesson.errors }}
                {{ form.assessment.errors }}

                <h3 style="color: #D5926A; font-size: 32px; line-height: 40px">
                I am going to teach 
                <input type="text" name="who" class="focused-input input-xlarge" id="id_who" placeholder="a good friend or family member">
                all about {{ form.lesson }} 
                before 
                <input type="text" name="when" id="input01" placeholder="{% now "l, M d Y" %}"> 
                and after, I'll have them answer this question: 
                {{ form.assessment }} 
                <input type="hidden" name="made_by" value="{{ made_by }}" />
                </h3>

            <br/>
            <p>
            <input type="submit" value="Make a promise" class="btn btn-primary form-horizontal" />
            </p>
        </form>
    </section>

    <section>

    <h2 name="#what">Q: What am I promising to teach?</h2>
    <h3 style="color: #D5926A;">A: If you there's a list of resources just after 'all about'. These are lessons we've found out on the web that you can try out. 

    <h2 name="#how">Q: How does it work?</h2>
    <h3 style="color: #D5926A;">The site is a very basic form, that allows you to login with Twitter to save promises you make to teach. Each of the lessons linked should take an hour or less to teach to someone. The goal is to start collecting feedback about lessons, see if we can get people to try to teach things, and then collect their experiences. Then, I'd like to create repos of lessons that we can fork, send pull requests to, and collaborate on together.</h3>

    <h2>Q: What's the software licensing of this site?</h2>
    <h3 style="color: #D5926A;">The code that runs this site BSD licensed. My plan is to add Creative Commons licensing to all content that is contributed. For now, I'm only linking to lesson material. The code is available on <a href="https://github.com/selenamarie/teach-today">github</a>.</h3>

    <h2>Q: Who made this?</h2>
    <h3 style="color: #D5926A;">@<a href="http://twitter.com/selenamarie">selenamarie</a></h3>
    </section>

    <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script>
      $("#input01").datepicker({preventPast:true});
    </script>

{% endblock %}
