{% extends "base.html" %}


{% block title %}
Promise | Promise to {{ promise.who }} 
{% endblock %}

{% block body %}
{% load bootstrap_toolkit %}

I taught <a href='/lessons/{{ promise.lesson.id }}/'>{{ promise.lesson }}</a> to <strong>{{ promise.who }}</strong> on {{ promise.when|date:"m/d/Y" }}

{% if error_message %}<p><strong>{{ error_message}}</strong></p>{% endif %}

<!-- protip: posting to itself is totally awesome -->
<form action="/lessons/promises/{{promise.id}}/keep/" method="post">

{% csrf_token %}

{{ form|as_bootstrap }}

<input type="submit" value="Update" class="btn primary"/>
</form>

{% endblock %}
