{% extends "base.html" %}


{% block head %}
    <title>Teach a Lesson Today | {% block title %}Main{% endblock %}</title>
{% endblock %}

{% block body %}

<p>
&nbsp;
</p>

<ul>
	<li><a href="lessons/">Lessons</a>, <a href="lessons/add">Add a lesson!</a></li>
	<li><a href="lessons/promises">List of Promises</a>, <a href="lessons/promises/add">Make a promise to teach!</a></li>
</ul>

<h2>Why teach a lesson?</h2>

<ol>
<li>In the United States, the number of states with Computer Science curriculum and college computer science preparation coursework is declining in high school - a drop of 35% since 2005.</li>
<li>Only 30% of people in the United States go to college, where they are much more likely to encounter computer science classes.</li>
<li>The US Bureau of Labor Statistics estimates that there will be 1.5 million job openings in computer-related fields by 2018.</li>
</ol>

{% endblock %}
